/* Main application styles */
body {
    font-family: 'Arial', sans-serif;
    color: #4f4f4f;
    background-color: #f8f8f8;
}

/* Header styling with the logo aligned to the left and the background set to white */
header {
    display: flex;
    align-items: center;
    padding: 15px; /* Reduced padding to reduce total height */
    background-color: #8dbf42; /* Set background color */
}

/* Ensure the logo fits properly, aligned to the left, with adjusted size */
header img {
    height: auto; /* Keep the height auto to maintain aspect ratio */
    width: auto; /* Width set to auto to adjust with height */
    max-height: 60px; /* Example fixed max-height, adjust to your preference */
    order: -1; /* This ensures that the logo comes first within the flex container */
}

/* Updated title styling with flex-grow to center the title text, bold and white color */
header h1 {
    flex-grow: 1;
    text-align: center;
    color: #ffffff; /* Set text color to white */
    font-weight: bold; /* Make the font bold */
    margin: 0; /* Keep the margin 0 to align properly */
    font-size: 2em; /* You can adjust the font size if necessary */
}

/* Ensure the logo fits properly, aligned to the left, with adjusted size */
header img {
    height: auto; /* Keep the height auto to maintain aspect ratio */
    width: auto; /* Width set to auto to adjust with height */
    max-height: 60px; /* Example fixed max-height, adjust to your preference */
    order: -1; /* This ensures that the logo comes first within the flex container */
}


/* Footer styling with logo and links */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.footer-logo {
    height: 50px;
    margin-right: auto;
}

.footer-links h2 {
    margin-top: 0;
    color: var(--brand-brown);
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    padding: 5px 0;
}

.footer-links ul li a {
    color: #4f4f4f;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

/* Branding colors */
:root {
    --brand-green: #8dbf42;
    --brand-brown: #8B4513;
}

/* Styling for the "selected-product-name" field */
.selected-product-display {
    font-weight: bold;
    font-style: italic;
    margin: 20px 0;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
    display: block;
}

/* Filter dropdown and buttons styling */
.filter-dropdown,
.button {
    background-color: var(--brand-green);
    color: #4f4f4f;
    padding: 10px 20px;
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Specific styling for "Reset Filters" button */
#reset-filters-btn {
    background-color: transparent;
    color: var(--brand-brown);
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid var(--brand-brown);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Add margin to separate from the search box */

}

/* Darken button on hover */
.filter-dropdown:hover,
.button:hover,
#reset-filters-btn:hover {
    background-color: var(--brand-brown);
    color: #fff;
}

/* DataSeries Table Styling */
.responsive-table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}
.responsive-table thead th {
    position: sticky;
    top: 0;
    background-color: white; /* or any other color that matches your design */
    z-index: 10; /* to ensure the header stays above the content when scrolling */
}

.responsive-table th,
.responsive-table td {
    border: 1px solid #ddd; /* Style as per your design */
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Aligns text to the left */
    min-width: 120px; /* Ensures a minimum width for columns to avoid too much compression */
}

/* Title Styling */
h1 {
    color: var(--brand-brown);
    font-weight: bold;
    margin-bottom: 20px;
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer img.logo {
        margin-bottom: 10px;
    }

    footer .links {
        flex-direction: column;
        align-items: center;
    }

    .responsive-table {
        overflow-x: auto;
    }

    .responsive-table td,
    .responsive-table th {
        padding: 4px; /* Reduces padding on smaller screens for more space */
        min-width: 80px; /* Reduces minimum width on smaller screens */
    }

    .filter-dropdown,
    .button,
    #reset-filters-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Consistent vertical rhythm and spacing */
* {
    box-sizing: border-box;
}

/* Spacing and alignment for the main content */
.main-content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tables-container {
    width: 100%;
    display: block;
}

/* Align filters and buttons to the left */
.filters-container,
.download-buttons-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* Allows items to wrap as needed */
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px; /* Adjust this value to match the desired spacing */
}

@media screen and (max-width: 600px) {
    #filter-container {
        flex-direction: column;
        align-items: stretch; /* Stretch items to full width on small screens */
    }
    #search-box {
        margin-top: 10px; /* Space between filters and search box on small screens */
        width: 100%; /* Full width on small screens */
    }
}

.tables-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust this value to match the footer's top margin */
}

.responsive-table td, .responsive-table th {
    min-width: 120px; /* or any other appropriate value */
}

.tables-container {
    max-width: 100%;
    overflow-x: auto; /* for horizontal scrolling if necessary */
}

.responsive-table th:nth-child(1),
.responsive-table td:nth-child(1) {
    width: 10%; /* Adjust the percentage based on your design */
}
/* Repeat for each column as necessary */

/* Products Table Styling */
#products-table {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Style adjustments for table rows and cells */
#products-table table {
    width: 100%;
    border-collapse: collapse;
}

#products-table th,
#products-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#filter-container {
    display: flex;
    justify-content: space-between; /* Space between the filters and the search box */
    align-items: center; /* Vertical centering */
    padding: 10px 0; /* Vertical padding */
}

.search-container {
    margin-left: auto; /* This will push the search container to the right */
}

/* Search box styling to match the app's design */
#search-box {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #4f4f4f;
    /* Ensure it does not shrink and stays aligned to the right */
    margin-left: 10px; /* Space between the filters and search box */
    flex-shrink: 0;
}
